[user]
	name = Josep Comes
	email = jcomes@jcomes.org
[alias]
	s = status
	lg = log --oneline --decorate --all --graph --color --pretty=format:'%Cred%h%Creset - %Cgreen%an%Creset [%ar]: %s %Cblue%d%Creset'
[core]
	pager = delta
	editor = vim
[interactive]
	diffFilter = delta --color only
[delta]
	navigate = true
	side-by-side = true
	hyperlinks = true
	line-numbers = true
[merge]
	conflictstyle = diff3
	tool = nvimdiff
[diff]
	colorMoved = default
	algorithm = histogram
	tool = nvimdiff
[init]
	defaultBranch = master
